{{% extends "{inherited_layout}" %}}

{{%- block extrahead %}}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJSMY46M5C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){{ '{{dataLayer.push(arguments);}}' }}
    gtag('js', new Date());
    gtag('config', 'G-RJSMY46M5C');
  </script>

  {{{{ super() }}}}

  <link rel="stylesheet" href="https://pages.nist.gov/nist-header-footer/css/nist-combined.css">
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" type="text/javascript" defer="defer"></script>
  {header_footer_script}
{{% endblock %}}


{{%- block footer %}}

  {{{{ super() }}}}

  <!-- Taken from https://www.filamentgroup.com/lab/html-includes/#another-demo%3A-including-another-html-file -->
  <iframe src="{{{{ pathto('_static/ntd2d_menu.html', 1) }}}}" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>

{{%- endblock %}}
