{css}

/* add menu styling for active variant */

/* note: li.ntd2d_{variant} doesn't reliably work with dotted names */

li[class~="ntd2d_{variant}"] {{
  font-weight: bold;
}}

li[class~="ntd2d_{variant}"] a:hover {{
  text-decoration: none;
}}
